<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}">
</head>
<body class="container">
    <h1>Welcome to Home Page</h1>
    <div>
        Click <a href="/sum"><button type="button" class="btn-sm btn-outline-secondary">Link</button></a>to see the add form
    </div>
    <div>
        Click <a href="/personForm"><button class="btn-sm btn-outline-secondary" type="button">Link</button></a>to see the personForm form
    </div>

    <div>
        Click <a href="/form"><button type="button" class="btn-sm btn-outline-secondary">Link</button></a>to see a form
    </div>

    <div>
        Click <a href="/rest"><button type="button" class="btn-sm btn-outline-secondary">Link</button></a>to see the list of persons
    </div>

    <div>
        Click <a href="/BAK"><button type="button" class="btn-sm btn-outline-secondary">Link</button></a>to see Blood alcohol concentration BAK form
    </div>

    <div>
        Click <a href="/leitfragen"><button type="button" class="btn-sm btn-outline-secondary">Link</button></a>to see the the answers
    </div>

    <p class="text-center text-muted">&copy; <a class="text-muted" href="https://www.parwand.net">parwand.net</a></p>

</body>
</html>